<%= turbo_stream.prepend "articles", @article %>
<%= turbo_stream.replace "form_article" do %>
  <div id="form_article" class="min-w-[320px]">
    <%= render "form", article: Article.new %>
  </div>
<% end %>
