<%= turbo_stream.replace "form_update" do %>
  <div id="form_update">
    <%= turbo_frame_tag "new_work_order_item_form" do %>
      <div class="bg-white shadow-md rounded-2xl border border-slate-200 p-4">
        <h2 class="font-semibold text-lg mb-2">Agregar ítem</h2>
        <%= render "work_order_items/form", work_order: @work_order, work_order_item: @work_order_item %>
      </div>
    <% end %>
  </div>
<% end %>
